:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* don't fake bold and italic if font-family doesn't have them */
  font-synthesis: none;
  text-rendering: optimizeLegibility; /* nicer fonts if possible */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #1f1e1e;
  color: #f1eeee;
  min-height: 100vh;
}

button,
input,
select {
  font: inherit;
}